{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="bidApp" ng-controller="MainCtrl">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {$ title $}
    Works
    
    <script type="text/javascript" src="{% static 'frontend/angular/lib/1.3/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/angular/lib/django-angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/angular/lib/angular-resource.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/angular/lib/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/angular/lib/angular-route.js' %}"></script>

    <script type="text/javascript" src="{% static 'frontend/angular/app/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/angular/app/config.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/angular/app/controllers.js' %}"></script>
</body>
</html>