{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="bidApp" ng-controller="MainCtrl">
<head lang="en">
    <meta charset="UTF-8">
    <title>{$ title $}</title>
    <link type="text/css" href="{% static 'frontend/bootstrap/3.3.0/css/bootstrap.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'frontend/font-awesome/4.3.0/css/font-awesome.css' %}" rel="stylesheet" />
</head>
<body>
    {% include 'header.html' %}
    <br><br><br><br>
    <div class="container" ng-view>
    </div>
    {% include 'footer.html' %}
    {% block js %}
        {% block templates %}
            <script type="text/ng-template" id="main.html"></script>
        {% endblock %}
        {% block libs %}
    <script type="text/javascript" src="{% static 'frontend/underscore/1.7.0/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/jquery/2.1.1/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/bootstrap/3.3.0/js/bootstrap.js' %}"></script>

    <script type="text/javascript" src="{% static 'frontend/backbone/1.1.2/backbone.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'frontend/angular/lib/1.3/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/angular/lib/django-angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/angular/lib/angular-resource.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/angular/lib/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/angular/lib/angular-route.js' %}"></script>
        {% endblock %}
        {% block app_frontend %}
    <script type="text/javascript" src="{% static 'frontend/angular/app/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/angular/app/config.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/angular/app/controllers.js' %}"></script>
        {% endblock %}
        {% block app_products %}
    <script type="text/javascript" src="{% static 'products/app/controllers.js' %}"></script>
        {% endblock %}
        {% block app_example %}
    <script type="text/javascript" src="{% static 'example/app/stores.js' %}"></script>
    <script type="text/javascript" src="{% static 'example/app/models.js' %}"></script>
    <script type="text/javascript" src="{% static 'example/app/controllers.js' %}"></script>
        {% endblock %}
    {% endblock %}
</body>
</html>