{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="bidApp" ng-controller="MainCtrl">
<head lang="en">
    <meta charset="UTF-8">
    <title>{$ title $}</title>
    {% include 'css.html' %}
</head>
<body>
    {% include 'header.html' %}
    <br><br><br><br>
    <div class="container" ng-view>
    </div>
    {% include 'footer.html' %}
    {% block html-component %}
    {% endblock %}
    {% block js %}
        <div style="display: none;" id="global-config">
        {{ CONFIG|safe }}
        </div>
        {% block templates %}
            <script type="text/ng-template" id="main.html"></script>
        {% endblock %}
        {% include 'bundles.html' %}
        {% include 'apps.html' %}

    {% endblock %}
</body>
</html>