<form action="{% url 'products:products' %}" method="POST">

    <div class="control-group error">
        <label class="control-label text-danger" for="inputError" ng-repeat="error in form.errors.__all__">
            {$ error $}
        </label>
        <div class="controls">
        </div>
    </div>
    {{ form.as_p }}
{#    <div class="control-group error">#}
{#        <label class="control-label" for="inputError">Input with error</label>#}
{#        <div class="controls">#}
{#            <input type="text" id="{$ data.name $}">#}
{#            <span class="help-inline">Please correct the error</span>#}
{#        </div>#}
{#    </div>#}
</form>