Django==1.7.1
argparse==1.2.1
dj-static==0.0.6
static3==0.5.1
wsgiref==0.1.2

#rest
djangorestframework
markdown
django-filter

#selenium
selenium

#mongo
git+https://github.com/django-nonrel/django@nonrel-1.5
git+https://github.com/django-nonrel/djangotoolbox
git+https://github.com/django-nonrel/mongodb-engine

#Testing
#git+https://github.com/snormore/django-mongotesting.git

django-angular
